select {
    height: 36px;
    border-width: 1px;
    border-radius: 4px;
    border-color: #EBEBEB;
    cursor: pointer;
    margin: 8px 0;
    font-family: Notosans;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    padding-left: 10px;
}

select:hover {
    background-color: #E7F5EC;
}

#unit {
    width: 430px;
}

option {
    height: 29px;
    border-width: 1px;
    border-color: #EBEBEB;
    cursor: pointer;
}

option:hover {
    background-color: aqua;
}