.icon-menu {
    box-sizing: border-box;
    height: 24px;
    width: 24px;
    margin-right: 8px;
    margin-top: 7px;
    background-repeat: no-repeat;
    background-position: -424px -86px;
    background-image: url(../../assets/img/Sprites.64af8f61.svg);
}

.icon-overview {
    background-image: url(../../assets/img/Sprites.64af8f61.svg);
    background-repeat: no-repeat;
    background-position: -33px -1630px;
    width: 24px;
    height: 24px;
    margin-right: 5px;
    margin-left: 13px;
}

.icon-money {
    background-image: url(../../assets/img/Sprites.64af8f61.svg);
    background-repeat: no-repeat;
    background-position: -78px -1631px;
    width: 24px;
    height: 24px;
    margin-right: 5px;
    margin-left: 13px;
}

.icon-bank {
    background-image: url(../../assets/img/Sprites.64af8f61.svg);
    background-repeat: no-repeat;
    background-position: -121px -1633px;
    width: 24px;
    height: 24px;
    margin-right: 5px;
    margin-left: 13px;
}

.icon-buy {
    background-image: url(../../assets/img/Sprites.64af8f61.svg);
    background-repeat: no-repeat;
    background-position: -165px -1632px;
    width: 24px;
    height: 24px;
    margin-right: 5px;
    margin-left: 13px;
}

.icon-sell {
    background-image: url(../../assets/img/Sprites.64af8f61.svg);
    background-repeat: no-repeat;
    background-position: -206px -1631px;
    width: 24px;
    height: 24px;
    margin-right: 5px;
    margin-left: 13px;
}

.icon-order {
    background-image: url(../../assets/img/Sprites.64af8f61.svg);
    background-repeat: no-repeat;
    background-position: -254px -1632px;
    width: 24px;
    height: 24px;
    margin-right: 5px;
    margin-left: 13px;
}

.icon-warehouse {
    background-image: url(../../assets/img/Sprites.64af8f61.svg);
    background-repeat: no-repeat;
    background-position: -294px -1632px;
    width: 24px;
    height: 24px;
    margin-right: 5px;
    margin-left: 13px;
}

.icon-tools {
    background-image: url(../../assets/img/Sprites.64af8f61.svg);
    background-repeat: no-repeat;
    background-position: -339px -1633px;
    width: 24px;
    height: 24px;
    margin-right: 5px;
    margin-left: 13px;
}

.icon-assets {
    background-image: url(../../assets/img/Sprites.64af8f61.svg);
    background-repeat: no-repeat;
    background-position: -382px -1632px;
    width: 24px;
    height: 24px;
    margin-right: 5px;
    margin-left: 13px;
}


.icon-tax {
    background-image: url(../../assets/img/Sprites.64af8f61.svg);
    background-repeat: no-repeat;
    background-position: -427px -1634px;
    width: 24px;
    height: 24px;
    margin-right: 5px;
    margin-left: 13px;
}

.icon-price {
    background-image: url(../../assets/img/Sprites.64af8f61.svg);
    background-repeat: no-repeat;
    background-position: -471px -1633px;
    width: 24px;
    height: 24px;
    margin-right: 5px;
    margin-left: 13px;
}

.icon-general {
    background-image: url(../../assets/img/Sprites.64af8f61.svg);
    background-repeat: no-repeat;
    background-position: -514px -1632px;
    width: 24px;
    height: 24px;
    margin-right: 5px;
    margin-left: 13px;
}

.icon-budget {
    background-image: url(../../assets/img/Sprites.64af8f61.svg);
    background-repeat: no-repeat;
    background-position: -382px -1664px;
    width: 24px;
    height: 24px;
    margin-right: 5px;
    margin-left: 13px;
}

.icon-report {
    background-image: url(../../assets/img/Sprites.64af8f61.svg);
    background-repeat: no-repeat;
    background-position: -552px -1636px;
    width: 24px;
    height: 24px;
    margin-right: 5px;
    margin-left: 13px;
}

.icon-financial {
    background-image: url(../../assets/img/Sprites.64af8f61.svg);
    background-repeat: no-repeat;
    background-position: -207px -1667px;
    width: 24px;
    height: 24px;
    margin-right: 5px;
    margin-left: 13px;
}

.header-left__iconmenu {
    background-image: url(../../assets/img/Sprites.64af8f61.svg);
    background-repeat: no-repeat;
    background-position: -847px -30px;
    width: 24px;
    height: 24px;
    margin-left: 16px;
    margin-right: 16px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.header-left__icondropdown {
    background-image: url(../../assets/img/Sprites.64af8f61.svg);
    background-repeat: no-repeat;
    background-position: -1123px -357px;
    width: 24px;
    height: 24px;
    margin-left: 2px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.header-right__iconnotice {
    background-image: url(../../assets/img/Sprites.64af8f61.svg);
    background-repeat: no-repeat;
    background-position: -788px -30px;
    width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0 26px;
}

.icon-reload {
    background-image: url(../../assets/img/Sprites.64af8f61.svg);
    background-repeat: no-repeat;
    background-position: -425px -201px;
    width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 20px;
    margin-top: 18px;
    margin-left: 12px;
}

.icon-reload:hover {
    background-position: -1098px -90px;
}

.icon-help {
    background-image: url(../../assets/img/Sprites.64af8f61.svg);
    background-repeat: no-repeat;
    background-position: -732px -31px;
    width: 24px;
    height: 24px;
    float: right;
    margin-right: 8px;
    margin: 0 10px;
    cursor: pointer;
}

.icon-close {
    background-image: url(../../assets/img/Sprites.64af8f61.svg);
    background-repeat: no-repeat;
    background-position: -141px -147px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.icon-search {
    background-image: url(../../assets/img/Sprites.64af8f61.svg);
    background-repeat: no-repeat;
    background-position: -955px -26px;
    width: 24px;
    height: 33px;
    border-radius: 2px;
    border-top-left-radius: none;
    border-bottom-left-radius: none;
    border: 1px solid #EBEBEB;
    cursor: pointer;
    padding: 1px 8px 2px 0;
    border-left: none;
    margin-top: 12px;
}

.icon__set-up.header__icon {
    background-image: url(../../assets/img/Sprites.64af8f61.svg);
    background-repeat: no-repeat;
    background-position: -676px -30px;
    width: 24px;
    height: 24px;
    margin: 0px 10px 0 10px;
}

.icon__expand-more {
    background-image: url(../../assets/img/Sprites.64af8f61.svg);
    background-repeat: no-repeat;
    background-position: -848px -359px;
    width: 16px;
    height: 16px;
    margin-left: 10px;
    cursor: pointer;
}

.icon-warning {
    background-image: url(../../assets/img/Sprites.64af8f61.svg);
    background-repeat: no-repeat;
    background-position: -32px -962px;
    width: 36px;
    height: 36px;
}

.icon-success {
    background-image: url(../../assets/img/Sprites.64af8f61.svg);
    background-repeat: no-repeat;
    background-position: -1602px -258px;
    width: 22px;
    height: 22px;
    margin-left: 18px;
    margin-right: 10px;
}

.icon-close.close-notice {
    background-image: url(../../assets/img/Sprites.64af8f61.svg);
    background-repeat: no-repeat;
    background-position: -1178px -362px;
    width: 24px;
    height: 26px;
    margin-left: 19px;
    margin-top: 14px;
}

.icon__warning-delete {
    background-image: url(../../assets/img/Sprites.64af8f61.svg);
    background-repeat: no-repeat;
    background-position: -598px -463px;
    width: 37px;
    height: 37px;
}

.icon__warning-store {
    background-image: url(../../assets/img/Sprites.64af8f61.svg);
    background-repeat: no-repeat;
    background-position: -832px -462px;
    width: 37px;
    height: 37px;
}

/*Set icon when hover item in sidebar*/

.overview:hover .icon-overview {
    background-position: -33px -1587px!important;
}

.money:hover .icon-money {
    background-position: -78px -1588px!important;
}
.bank:hover .icon-bank {
    background-position: -121px -1590px!important;
}
.buy:hover .icon-buy {
    background-position: -165px -1589px!important;
}
.sell:hover .icon-sell {
    background-position: -206px -1588px!important;
}
.order:hover .icon-order {
    background-position: -254px -1589px!important;
}
.warehouse:hover .icon-warehouse {
    background-position: -294px -1589px!important;
}
.tools:hover .icon-tools {
    background-position: -339px -1590px!important;
}
.assets:hover .icon-assets {
    background-position: -382px -1589px!important;
}
.tax:hover .icon-tax {
    background-position: -427px -1591px!important;
}
.price:hover .icon-price {
    background-position: -471px -1590px!important;
}
.general:hover .icon-general {
    background-position: -514px -1590px!important;
}
.budget:hover .icon-budget {
    background-position: -427px -1664px!important;
}
.report:hover .icon-report {
    background-position: -552px -1593px!important;
}
.financial:hover .icon-financial {
    background-position: -251px -1667px!important;
}

.icon-next {
    background: url(../../assets/img/Sprites.64af8f61.svg) no-repeat -20px -355px;
    width: 24px;
    height: 24px;
    border: none;
    cursor: pointer;
    margin-left: 16px;
}

.icon-previous {
    background: url(../../assets/img/Sprites.64af8f61.svg) no-repeat -69px -355px;
    width: 24px;
    height: 24px;
    border: none;
    cursor: pointer;
    margin-left: 16px;
}