label {
    font-family: Notosans-semibold;
    font-weight: 500;
    font-size: 14px;
    color: #1F1F1F;
}

.label__sex {
    margin-left: 6px;
}

.radio-sex>label {
    font-family: Roboto;
    font-weight: 400;
}