table, th, td {
    border-collapse: collapse; 
    color: #000;
    width: 100%;
}

table {
    border-radius: 4px;
}

th {
    border-top: none;
    border-bottom: 1px solid #E0E0E0;;
    position: sticky;
    top: 0;
    background-color: #F5F5F5;
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
    font-family: Notosans-bold;
    height: 48px;
    max-height: 48px!important;
    cursor: pointer;
    text-align: left;
    padding:0 16px;

}
td {

    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    font-family: Notosans;
    height: 47px;
    max-height: 47px;
    border-top: 1px solid #E0E0E0;
    cursor: pointer;
    text-align: left;
    padding:0 16px;
}

tr:hover {
    background-color: #F8F8F8;
}

tr:hover>td:first-child {
    background-color: #F8F8F8;
}

/*fix column function*/
tr>th:last-child,tr>td:last-child {
    position: sticky;
    right: 0;
    border-right: none;
  }

tr>th:last-child {
    top: 0;
    z-index: 10;
    border-top-right-radius: 4px;
}

tr>th:first-child {
    top: 0;
    z-index: 10;
    border-top-left-radius: 4px;
}

tr>td:last-child {
    background-color: #fff;
}

tr:hover>td:last-child {
    background-color: #F8F8F8;
}

/*define width column*/
.th__employee-id {
    min-width: 125px;
}

.th__checkbox {
    width: 40px;
    min-width: 40px;
    height: 48px;
    text-align: center;
    padding: 0;
    left: 20px;
    background-color: #F5F5F5;
}

.th__fullname {
    width: 293px;
    min-width: 293px;
}

.th__sex {
    width: 120px;
    min-width: 120px;
}

.th__date-of-birth {
    width: 118px;
    min-width: 118px;
    text-align: center;
}

.th__entity-number {
    width: 110px;
    min-width: 110px;
    text-align: left;
}

.td__identity-number {
    text-align: left;
}

.td__date-of-birth {
    text-align: center;
}

.th__title-job {
    width: 100px;
    min-width: 100px;
}

.th__unit {
    width: 200px;
    min-width: 200px;
}

.th__bank-account {
    width: 140px;
    min-width: 140px;
    padding-right: 16px;
}
.td__bank-account-number {
    padding-right: 16px;
}

.th__bank-name {
    width: 250px;
    min-width: 250px;
}

.th__branch-bank {
    width: 250px;
    min-width: 250px;
}

.th__function {
    width: 121px;
    min-width: 121px;
    background-color: #F5F5F5;
    text-align: center;
}

.td__function {
    width: 100px;
    min-width: 100px;
    font-weight: 600;
    color: #033C1A;
    justify-content: center;
}

.td__checkbox {
    width: 40px;
    text-align: center;
    min-width: 40px;
    padding: 0;
}


.td__checkbox>input {
    margin-top: 4px;
    margin-left: 4px;
}

.td__employee-id {
    min-width: 125px;
}

.main-content-table {
    overflow: scroll;
}
.main-content-table::-webkit-scrollbar-track {   
    margin-top: 43px;
	-webkit-box-shadow: inset 0 0 6px #fff;
	background-color: #fff;
}

.main-content-table::-webkit-scrollbar {   
	width: 6px;
    height: 6px;
	background-color: #fff;
}

.main-content-table::-webkit-scrollbar-thumb {
	background-color:#BDBDBD;
}
