.header {
    width: calc(100% - 200px);
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    background-color: #ffffff;
}

.header-left {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-left__brandname {
    font-size: 14px;
    font-weight: 700;
    font-family: Notosans-bold;
    color: #212121;
}

.header-right {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 16px;
}

.header-right__username {
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    font-family: Notosans-bold;
    color: #212121;
}

.header-right__avatar {
    background-color: rgb(156, 77, 77);
    height: 32px;
    width: 32px;
    margin-right: 5px;
    border-radius: 50%;
    cursor: pointer;
}
