.header {
    width: calc(100% - 200px);
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    background-color: #ffffff;
}

.header-left {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-left__brandname {
    font-size: 14px;
    font-weight: 700;
    font-family: Notosans-bold;
    color: #212121;
}

.header-right {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 16px;
}

.header-right__username {
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    font-family: Notosans-bold;
    color: #212121;
}

.header-right__avatar {
    background-color: rgb(156, 77, 77);
    height: 32px;
    width: 32px;
    margin-right: 5px;
    border-radius: 50%;
    cursor: pointer;
}

.header-left__iconmenu {
    background-image: url(../../assets/img/Sprites.64af8f61.svg);
    background-repeat: no-repeat;
    background-position: -847px -30px;
    width: 24px;
    height: 24px;
    margin-left: 16px;
    margin-right: 16px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.header-left__icondropdown {
    background-image: url(../../assets/img/Sprites.64af8f61.svg);
    background-repeat: no-repeat;
    background-position: -1123px -357px;
    width: 24px;
    height: 24px;
    margin-left: 2px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.header-right__iconnotice {
    background-image: url(../../assets/img/Sprites.64af8f61.svg);
    background-repeat: no-repeat;
    background-position: -788px -30px;
    width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0 26px;
}