.main {
    padding: 24px 0 0 24px;
    width: calc(100% - 200px);
    height: calc(100% - 56px);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 24px;
}

.main-header__right {
    display: flex;
    flex-direction: row;
}

.main-content {
    height: 100%;
    background-color: #fff;
    overflow: auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0 16px;
    padding-top: 8px;
}

.main-content-toolbar {
    box-sizing: border-box;
    height: 52px;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: space-between;
    background-color: #fff;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.main-content-table {
    overflow: scroll;
}
.main-content-table::-webkit-scrollbar-track {   
    margin-top: 43px;
	-webkit-box-shadow: inset 0 0 6px #fff;
	background-color: #fff;
}

.main-content-table::-webkit-scrollbar {   
	width: 6px;
    height: 6px;
	background-color: #fff;
}

.main-content-table::-webkit-scrollbar-thumb {
	background-color:#067933;
}

.main-paging-left {
    height: 29px;
    margin-right: 210px;
    font-size: 14px;
    font-weight: 400;
    font-family: Notosans;
    color: #212121;
    padding: 20px 0 20px 20px;
}

.container-footer {
    display: flex;
    height: 69px;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    background-color: #CEEAD9;
    box-sizing: border-box;
    padding: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-bottom: 16px;
}

.main-paging-right {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 20px 20px 20px 0;
}

.select-paging>select {
    margin: 0;
    cursor: pointer;
}

.select-paging {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.number-paging {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-bottom: 4px;
    box-sizing: border-box;
}

.number-paging>.next-page {
    border: none;
    background-color: #fff;
    color: #111;
    font-size: 13px;
    margin-left: 4px;
    margin-right: 7px;
    margin-bottom: 2px;
    cursor: pointer;
}

.number-paging>.previous-page {
    border: none;
    background-color: #fff;
    color: #111;
    font-size: 13px;
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: 2px;
    cursor: pointer;
}

.page-unselected {
    background-color: #fff;
    border: none;
    cursor: pointer;
    margin-bottom: 1px;
}

.direction {
    color: #0075c0;
    font-size: 13px;
    font-weight: 400;
}

.main-header__name {
    font-size: 24px;
    font-weight: 700;
    color: #1F1F1F;
    line-height: 28px;
    font-family: Notosans-bold;
}