.sidebar {
    width: 200px;
    height: 100vh;
    background-color: #021E0D;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 48px;
    box-sizing: border-box;
}

.logo__brand {
    box-sizing: border-box;
    width: 96px;
    height: 32px;
    background-image: url(../../assets/img/Logo_Module_TiengViet_White.66947422.svg);
    background-repeat: no-repeat;
    background-size: 96px 32px;
    margin-top: 10px;
}

.menu-item {
    box-sizing: border-box;
    height: 44px;
    width: 176px;
    display: flex;
    justify-content: start;
    align-items: center;
    box-sizing: border-box;
    color: #869AB8;
    cursor: pointer;
    font-size: 14px;
    font-family: Notosans-semibold;
    font-weight: 500;
    margin: 4px 12px;
    border-radius: 6px;
}

a {
    box-sizing: border-box;
    text-decoration: none;
}

.menu-item:hover {
    background-color: #033C1A;
    color: #fff;
    
}

.sidebar-item {
    overflow-y: scroll;
}

.sidebar-item::-webkit-scrollbar-track {   
    margin-left: 16px;
	-webkit-box-shadow: inset 0 0 6px #021E0D;
	background-color: #021E0D;
}

.sidebar-item::-webkit-scrollbar {   
	width: 6px;
    height: 6px;
	background-color: #021E0D;
}

.sidebar-item::-webkit-scrollbar-thumb {
	background-color:#067933;
}